@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: inherit;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white_primary bg-opacity-80 backdrop-blur-sm dark:bg-primary dark:bg-opacity-80;
  box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.2);
}

.navbar-line {
  @apply w-[30px] h-[2px] my-2 block bg-text_primary rounded-full;
}

.nl-active > span:nth-child(1) {
  @apply rotate-45;
}

.nl-active > span:nth-child(3) {
  @apply -rotate-45;
}

.nl-active > span:nth-child(2) {
  @apply scale-0;
}

.nav-item {
  position: relative;
  display: inline-block;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: #ffac42;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .nav-item:hover::after {
    transform: scaleX(1);
  }
}

@media (max-width: 1023.5px) {
  .nav-item:hover::after {
    transform: scaleX(0);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

#to-top {
  animation: scaleIn 0.5s ease-in-out forwards;
}

#to-top.hide {
  animation: scaleOut 0.5s ease-in-out forwards;
}

#dark-mode:checked ~ label div.toggle-circle {
  @apply translate-x-6;
}

@keyframes slideDownAnimation {
  from {
    bottom: 110px; /* Bottom saat perpindahan ke bawah */
  }
  to {
    bottom: 44px; /* Bottom saat kembali ke atas */
  }
}

@keyframes slideUpAnimation {
  from {
    bottom: 44px; /* Bottom saat perpindahan ke atas */
  }
  to {
    bottom: 110px; /* Bottom saat perpindahan ke bawah */
  }
}

.dark-mode-slide-down {
  animation: slideDownAnimation 0.5s ease forwards;
}

.dark-mode-slide-up {
  animation: slideUpAnimation 0.5s ease forwards;
}
